<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Protect dot files
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
# PHP error log
php_value error_log /home/jsyrianr/public_html/csr_membership/var/log/php_error.log