<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Fix for Authorization header in some shared hosting
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Protect dot files
<FilesMatch "^\.">
    Require all denied
</FilesMatch>
# PHP error log